<%- include('includes/head.ejs') %>
    <script src="/js/errorHandler.js"></script>
    <script src="/js/utilities.js"></script>
    <script src="/js/password.js"></script>
    <title>Register</title>

</head>
<body>
    <h1 class="text-center">MarSearch</h1>
    <%- include('includes/rounded_container_start.ejs') %>
        <h2 class="text-center">Register</h2>
        <form method="post" action="/users/api/users" novalidate>
            <input name="first_name" value="<%= first_name %>" type="hidden">
            <input name="last_name" value="<%= last_name %>" type="hidden">
            <input name="email" value="<%= email %>" type="hidden">

            <div class="mb-3">
                <h5><label class="form-label" for="password">Password:</label></h5>
                <input id="password" name="password" type="password" class="form-control form-control-md">
                <h6 id="password_error" class="error text-danger d-none"></h6>
            </div>
            <div class="mb-3">
                <h5><label class="form-label" for="password">Password confirmation:</label></h5>
                <input id="confirmation" name="confirmation" type="password" class="form-control form-control-md">
                <h6 id="confirmation_error" class="error text-danger d-none"></h6>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </form>
        <h6><a href="/">Click to log in</a></h6>
    <%- include('includes/rounded_container_end.ejs') %>
<%- include('includes/end.ejs') %>
